<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue class</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesomes.min.css">
</head>
<body>
    <div id="app">

        <div class="container mt-5 d-flex justify-content-between">
            <button class="btn btn-dark" @click="getAllBooks">All books</button>
            <button class="btn btn-success" @click="completedBooks">Completed</button>
            <button class="btn btn-danger" @click="unCompletedBooks">Uncompleted</button>
            <input type="text" placeholder="Price" v-model="priceFilter" @keyup="filterByPrice">
        </div>
        <div class="container rounded-lg bg-dark my-5 mt-2">
            <table class="table table-hover">
                <thead>
                    <th class="text-white">Name</th>
                    <th class="text-white">Author</th>
                    <th class="text-white">Price</th>
                    <th class="text-white">Completed</th>
                    <th class="text-white">index</th>
                </thead>
                <tbody>
                    <tr v-for="(book, index) in allBooks" :style="{backgroundColor: book.completed ? 'green' : 'red'}">
                        <td class="text-white">{{book.author}}</td>
                        <td class="text-white">{{book.name}}</td>
                        <td class="text-white">{{book.price}}</td>
                        <td class="text-white">{{book.completed}}</td>
                        <td class="text-white">{{index}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    

    <script src="https://unpkg.com/vue@3"></script>
    <script src="Vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>